<h1 class="title">{{'goals.title'| translate}}</h1>
<a class="description">{{'goals.description'| translate}}</a>
<div class="goals">
  <div class="goal-item">
    <img src="assets/goals/goal1.jpg" alt="Goal1">
    <a class="goal-text">{{'goals.goal1'| translate}}</a>
  </div>
  <div class="goal-item">
    <img src="assets/goals/goal2.jpg" alt="Goal2">
    <a class="goal-text">{{'goals.goal2'| translate}}</a>
  </div>
  <div class="goal-item">
    <img src="assets/goals/goal3.jpg" alt="Goal3">
    <a class="goal-text">{{'goals.goal3'| translate}}</a>
  </div>
</div>
