<h1 class="title">Arkenna</h1>
<p class="desc">{{'about.description' | translate }}</p>
<div class="team">
  <div class="member">
    <img src="assets/members/Giuliano.png" alt="Giuliano">
    <div class="member-info">
      <a>Giuliano Peláez</a>
      <a>{{'about.inge'| translate}}</a>
      <a>{{'about.giuliano'| translate}}</a>
      <a>{{'about.knowledge.giuliano'| translate}}</a>
    </div>
  </div>
  <div class="member">
    <img src="assets/members/Johnny.png" alt="Johnny">
    <div class="member-info">
      <a>Johnny Ojanama</a>
      <a>{{'about.inge'| translate}}</a>
      <a>{{'about.johnny'| translate}}</a>
      <a>{{'about.knowledge.johnny'| translate}}</a>
    </div>
  </div>
  <div class="member">
    <img src="assets/members/Aquino.png" alt="Aquino">
    <div class="member-info">
      <a>Daniel Aquino</a>
      <a>{{'about.inge'| translate}}</a>
      <a>{{'about.aquino'| translate}}</a>
      <a>{{'about.knowledge.aquino'| translate}}</a>
    </div>
  </div>
  <div class="member">
    <img src="assets/members/Carlos.png" alt="Carlos">
    <div class="member-info">
      <a>Carlos Paredes</a>
      <a>{{'about.inge'| translate}}</a>
      <a>{{'about.carlos'| translate}}</a>
      <a>{{'about.knowledge.carlos'| translate}}</a>
    </div>
  </div>
</div>
